torch~=2.5.1
torchvision~=0.20.1
transformers~=4.49.0
addict~=2.4.0
yapf~=0.43.0
timm~=1.0.14
numpy~=2.0.2
opencv-python~=4.11.0.86
supervision>=0.22.0
pycocotools~=2.0.8
flask~=3.1.0
flask-cors~=5.0.0
pathlib~=1.0.1
numpy
typing~=3.7.4.3
pymysql~=1.1.1
dotenv~=0.9.9
streamlit~=1.42.2
python-dotenv~=1.0.1
pillow~=11.1.0
requests~=2.32.3
huggingface-hub~=0.29.1
tqdm~=4.67.1
setuptools~=68.2.0
PyYAML~=6.0.2
termcolor~=2.5.0
matplotlib~=3.9.4