torch
torchvision
transformers
addict
yapf
timm
numpy
opencv-python
supervision>=0.22.0
pycocotools
flask
flask-cors
pathlib
numpy
typing
pymysql
dotenv
streamlit
python-dotenv
pillow
requests
huggingface-hub
tqdm
PyYAML
termcolor
matplotlib